################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication_day12/packages
/WebApplication_day12/WebApplication1/bin
/WebApplication_day12/WebApplication1/Properties
/WebApplication_day12/WebApplication1/obj
/WebApplication_day12/WebApplication1/Scripts/esm
/WebApplication_day12/WebApplication1/Scripts/umd
/WebApplication_day12/WebApplication1/Scripts/README.md
/WebApplication_day12/WebApplication1/Scripts/popper.min.js.map
/WebApplication_day12/WebApplication1/Scripts/popper.min.js
/WebApplication_day12/WebApplication1/Scripts/popper.js.map
/WebApplication_day12/WebApplication1/Scripts/popper.js
/WebApplication_day12/WebApplication1/Scripts/popper-utils.min.js.map
/WebApplication_day12/WebApplication1/Scripts/popper-utils.min.js
/WebApplication_day12/WebApplication1/Scripts/popper-utils.js.map
/WebApplication_day12/WebApplication1/Scripts/popper-utils.js
/WebApplication_day12/WebApplication1/Scripts/jquery-3.0.0.slim.min.map
/WebApplication_day12/WebApplication1/Scripts/jquery-3.0.0.slim.min.js
/WebApplication_day12/WebApplication1/Scripts/jquery-3.0.0.slim.js
/WebApplication_day12/WebApplication1/Scripts/jquery-3.0.0.min.map
/WebApplication_day12/WebApplication1/Scripts/jquery-3.0.0.min.js
/WebApplication_day12/WebApplication1/Scripts/jquery-3.0.0.js
/WebApplication_day12/WebApplication1/Scripts/jquery-3.0.0-vsdoc.js
/WebApplication_day12/WebApplication1/Scripts/JavaScript1.js
/WebApplication_day12/WebApplication1/Scripts/index.d.ts
/WebApplication_day12/WebApplication1/Scripts/day14js_snippet.js
/WebApplication_day12/WebApplication1/Scripts/bootstrap.min.js.map
/WebApplication_day12/WebApplication1/Scripts/bootstrap.min.js
/WebApplication_day12/WebApplication1/Scripts/bootstrap.js.map
/WebApplication_day12/WebApplication1/Scripts/bootstrap.js
/WebApplication_day12/WebApplication1/Scripts/bootstrap.bundle.min.js.map
/WebApplication_day12/WebApplication1/Scripts/bootstrap.bundle.min.js
/WebApplication_day12/WebApplication1/Scripts/bootstrap.bundle.js.map
/WebApplication_day12/WebApplication1/Scripts/bootstrap.bundle.js
/WebApplication_day12/WebApplication1/Content/bootstrap-reboot.min.css.map
/WebApplication_day12/WebApplication1/Content/bootstrap-reboot.min.css
/WebApplication_day12/WebApplication1/Content/bootstrap-reboot.css.map
/WebApplication_day12/WebApplication1/Content/bootstrap-reboot.css
/WebApplication_day12/WebApplication1/Content/bootstrap-grid.min.css.map
/WebApplication_day12/WebApplication1/Content/bootstrap-grid.min.css
/WebApplication_day12/WebApplication1/Content/bootstrap-grid.css.map
